.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 80px;
}
.title {
  text-align: left;
  margin-left: 80px;
  font-size: 30px;
}

.totalCost {
  font-size: 20px;
  float: left;
  width: 30%;
  margin-left: 230px;
}

.productsCount {
  font-size: 20px;
  float: right;
  width: 30%;
  margin-right: 150px;
}

.button {
  font-size: 24px;
  padding: 12px 24px;
  background-image: linear-gradient(
    to right,
    rgb(133, 204, 228),
    rgb(34, 176, 215)
  );
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button.hide {
  display: none;
}

.table {
  margin-right: 150px;
  margin-left: 80px;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
}

th {
  font-weight: bold;
}

td {
  border: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, lightblue, lightgreen);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
